

.card {
    /* Add shadows to create the "card" effect */
    background-image: linear-gradient(45deg, white);
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .content {
    padding: 2px 16px;
  }
  
  .head{
    color: brown;
    text-align: center;
  }
  .inputfields{
    width:60%;
    font-size: larger;
  }
  
  /* textarea{
    width: 60%;
    font-size: larger;
    height: 20vh;
  } */
  
  /* label{
    color: rgb(7, 7, 7);
    font-weight: 700;
    font-size: larger;
  }    */
  
  /* Media Queries */
  
  /* Above Tablet */
  @media only screen and (min-width: 1024px) {
  }
  
  /* Both Tablet and Mobile */
  @media only screen and (max-width: 1023px) {
  }
  
  /* Tablet only */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  }
  
  /* Mobile only */
  @media only screen and (max-width: 767px) {
  }
  