.pnf{
    color: white;
    text-shadow: 5px 5px 3px #f51492;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    margin-top: 30vh;
}

.foot{
    animation: flicker 3s infinite alternate;
    color:rgb(17, 5, 5);
    font-weight: bolder;
}
  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f51492,
        0 0 80px #f51492,
        0 0 90px #f51492,
        0 0 100px #f51492,
        0 0 150px #f51492;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }